<footer class="panel-footer bg-dark" id="footer">
			<div class="container">
				<div class="row row-cols-lg-3">
					<section id="contact-form justify-content-start" class="mb-3">
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Email address</label>
							<input type="email" class="form-control" id="exampleFormControlInput1"
								 placeholder="name@example.com" required>
					   </div>
					   <div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label">Description</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					   </div>
					   <!-- <input type="submit" class="contact-submit" value="send" /> -->
					   <button class="btn btn-primary">Send</button>
					</section>
					<!-- <section id="" class="col-sm-4"> -->
						<div class="new-pro col-sm-4">
							<h1>Trending Projects</h1>
							<ul>
								 <li>Linux</li>
								 <li>React</li>
								 <li>Vue</li>
								 <li>TensorFlow</li>
							</ul>
					   </div>
					<div class="address col-sm-4">
						<h3>Address</h3>
						<div >VIT boys hostel VIT-bhopal,</div><div> kotri kalan,sehore,</div>madhya pradesh 466114.
						<div class="footer-logo "><img src="images/logo_white.png" alt="logo"></div>

				   </div>
					<!-- </section> -->
					<div class="icons">
						<i class="fa fa-facebook" aria-hidden="true"></i>
						<i class="fa fa-instagram" aria-hidden="true"></i>
						<i class="fa fa-reddit" aria-hidden="true"></i>
						<i class="fa fa-twitch" aria-hidden="true"></i>
						<i class="fa fa-linkedin-square" aria-hidden="true"></i>
						<i class="fa fa-twitter" aria-hidden="true"></i>
				   </div>
				</div>
				<div class="ender">&copy; 2021 Projectguider</div>
			</div>
		</footer>