<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('head.ejs'); %>
</head>

<body>
     <% students.forEach(student=> { %>

          <% if(student[2]==1){ %>
               <h1>My name is : <%= student[0] %>
               </h1>
               <p>I am studying : <%= student[1] %>
               </p>
               <% } else{ %>
                    <p>You are not authorized</p>
                    <% } %>

                         <% }); %>

</body>

</html>